<div
    id="copy-email"
    data-email="contacto@miguelfigueroa.dev"
    class="flex items-center gap-3 bg-white/5 border border-white/10 px-4 py-2 rounded-full w-fit mx-auto md:mx-0 group hover:border-white/30 transition-colors transform cursor-pointer active:scale-95"
>
    <span
        class="text-slate-400 group-hover:text-white text-sm font-mono tracking-tight"
    >
        contacto@miguelfigueroa.dev
    </span>

    <svg
        id="copy-icon"
        xmlns="http://www.w3.org/2000/svg"
        class="w-4 h-4 text-slate-500 group-hover:text-white"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z"
        ></path>
    </svg>

    <svg
        id="check-icon"
        xmlns="http://www.w3.org/2000/svg"
        class="w-4 h-4 text-slate-200 hidden"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 13l4 4L19 7"></path>
    </svg>
</div>

<script>
    (() => {
        const button = document.getElementById("copy-email");
        const copyIcon = document.getElementById("copy-icon");
        const checkIcon = document.getElementById("check-icon");

        if (!button || !copyIcon || !checkIcon) return;

        button.addEventListener("click", async () => {
            try {
                await navigator.clipboard.writeText(button.dataset.email ?? "");

                copyIcon.classList.add("hidden");
                checkIcon.classList.remove("hidden");

                setTimeout(() => {
                    copyIcon.classList.remove("hidden");
                    checkIcon.classList.add("hidden");
                }, 3000);
            } catch (e) {
                console.error("No se pudo copiar", e);
            }
        });
    })();
</script>
